################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/winformcefdemo/obj
/winformcefdemo/bin/x86
/winformcefdemo/pepflashplayer.dll
/winformcefdemo/bin/x64
*.ipch
/.vs/winformcefdemo/v16/Solution.VC.db-wal
/.vs/winformcefdemo/v16/Solution.VC.db-shm
/.vs/winformcefdemo/v16/Solution.VC.db
/.vs/winformcefdemo/v16/Browse.VC.opendb
/.vs/winformcefdemo/v16/Browse.VC.db-wal
/.vs/winformcefdemo/v16/Browse.VC.db-shm
/.vs/winformcefdemo/v16/Browse.VC.db
/Debug/speedhack.pdb
/Debug/speedhack.ilk
/Debug/speedhack.exe
/Debug/speedhack-x86_64.dll
/Debug/speedhack-i386.dll
/speedhack/Debug/vc142.pdb
/speedhack/Debug/vc142.idb
/speedhack/Debug/speedhack.tlog/speedhack.lastbuildstate
/speedhack/Debug/speedhack.tlog/link.write.1.tlog
/speedhack/Debug/speedhack.tlog/link.read.1.tlog
/speedhack/Debug/speedhack.tlog/link.command.1.tlog
/speedhack/Debug/speedhack.tlog/CL.write.1.tlog
/speedhack/Debug/speedhack.tlog/CL.read.1.tlog
/speedhack/Debug/speedhack.tlog/CL.command.1.tlog
/speedhack/Debug/speedhack.log
/speedhack/Debug/speedhack.exe.recipe
/speedhack/Debug/Source.obj
/speedhack/x64/Debug/vc142.pdb
/speedhack/x64/Debug/vc142.idb
/speedhack/x64/Debug/speedhack.tlog/speedhack.lastbuildstate
/speedhack/x64/Debug/speedhack.tlog/link.write.1.tlog
/speedhack/x64/Debug/speedhack.tlog/link.read.1.tlog
/speedhack/x64/Debug/speedhack.tlog/link.command.1.tlog
/speedhack/x64/Debug/speedhack.tlog/CL.write.1.tlog
/speedhack/x64/Debug/speedhack.tlog/CL.read.1.tlog
/speedhack/x64/Debug/speedhack.tlog/CL.command.1.tlog
/speedhack/x64/Debug/speedhack.log
/speedhack/x64/Debug/speedhack.exe.recipe
/speedhack/x64/Debug/Source.obj
/speedhack/x64/Release/vc142.pdb
/speedhack/x64/Release/speedhack.tlog/speedhack.write.1u.tlog
/speedhack/x64/Release/speedhack.tlog/speedhack.lastbuildstate
/speedhack/x64/Release/speedhack.tlog/link.write.1.tlog
/speedhack/x64/Release/speedhack.tlog/link.read.1.tlog
/speedhack/x64/Release/speedhack.tlog/link.command.1.tlog
/speedhack/x64/Release/speedhack.tlog/CL.write.1.tlog
/speedhack/x64/Release/speedhack.tlog/CL.read.1.tlog
/speedhack/x64/Release/speedhack.tlog/CL.command.1.tlog
/speedhack/x64/Release/speedhack.log
/speedhack/x64/Release/speedhack.exe.recipe
/speedhack/x64/Release/Source.obj
/speedhack/speedhack.vcxproj.user
/speedhack/speedhack.vcxproj.filters
/speedhack/speedhack.vcxproj
/speedhack/Source.cpp
/x64/Release/speedhack.pdb
/x64/Release/speedhack.ipdb
/x64/Release/speedhack.iobj
/x64/Release/speedhack.exe
/x64/Debug/speedhack.pdb
/x64/Debug/speedhack.ilk
/x64/Debug/speedhack.exe
/x64/Debug/speedhack-x86_64.dll
/x64/Debug/speedhack-i386.dll
/winformcefdemo/speedhack-x86_64.dll
/winformcefdemo/EasyHook64.dll
/winformcefdemo/EasyHook32.dll
/winformcefdemo/EasyHook.dll
