################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/winformcefdemo/obj
/winformcefdemo/bin/x86
/winformcefdemo/pepflashplayer.dll
/winformcefdemo/bin/x64
